<h1>Contato</h1>

<div ng-show="successMessage">
  <span ng-click="successMessage = false">x</span>
  Mensagem enviada com successo!
</div>

<form name="form" ng-submit="submit()">
  <input ng-model="email" placeholder="Email" required><br>
  <input ng-model="name" placeholder="Nome"><br>
  <textarea ng-model="message" placeholder="Mensagem"></textarea>

  <select ng-model="department">
    <option ng-value="department.value" ng-repeat="department in departments">{{department.label}}</option>
  <select>

  <input type="submit" value="Enviar mensagem" ng-disabled="form.$invalid">
</form>

<div ng-repeat="email in emails()">
  <h4>{{email.name}}</h4>
  <h5>{{email.email}}</h5>
  <p>{{email.message}}</p>
</div>
