<h1>Teste de factory</h1>

<form ng-submit="filter()">
  <input ng-model="data.aa_letivo" placeholder="Ano">
  <input ng-model="data.cd_unidade" placeholder="Unidade">
  <input ng-model="data.sq_turma" placeholder="Turma">

  <input type="submit" value="Filtrar">
</form>


<ul>
  <li ng-repeat="aluno in alunos">
    {{aluno.nmAluno}} <a ng-click="action(aluno)">Acao!</a>
  </li>
</ul>
